build/
.idea
.idea/watcherTasks.xml
*/node_modules
*/e2e
venv
env
templates
InstaVision/__pycache__
InstagramScrapper/__pycache__
*.pyc
*.pyo
.installed.cfg
__pychache__
/debug.log
/*.sqlite3
/*.jpg
/*.xlsx
